.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5f5f5;

  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 1050px;

  min-height: 620px;

  background: white;

  border-radius: 30px;

  overflow: hidden;

  display: flex;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE */

.login-left {
  flex: 1;

  background: #f9f9f9;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

.login-left img {
  width: 100%;
  max-width: 420px;
  border-radius: 10px;

  object-fit: contain;
}

/* RIGHT SIDE */

.login-right {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 60px;
}

.login-title {
  font-size: 38px;
  font-weight: 700;

  margin-bottom: 10px;

  color: #111827;
}

.login-title span {
  color: #f59e0b;
}

.login-subtitle {
  color: #6b7280;

  margin-bottom: 30px;

  font-size: 15px;
}

/* GOOGLE BUTTON */

.google-btn {
  width: 100%;

  padding: 14px;

  border: 1px solid #e5e7eb;

  background: white;

  border-radius: 12px;

  cursor: pointer;

  font-size: 15px;

  margin-bottom: 25px;

  transition: 0.3s;
}

.google-btn:hover {
  background: #f9fafb;
}

/* FORM */

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 14px;

  font-weight: 600;

  margin-bottom: 8px;

  margin-top: 10px;

  color: #374151;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;

  font-size: 14px;
}

.login-options a {
  color: #6b7280;
  text-decoration: none;
}

.login-options a:hover {
  text-decoration: underline;
}

/* LOGIN BUTTON */

.login-btn {
  margin-top: 25px;

  padding: 15px;

  border: none;

  border-radius: 30px;

  background: #73aab5;

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

.login-btn:hover {
  background: #5d96a1;
  transform: translateY(-2px);
}

/* FOOTER */

.signup-text {
  margin-top: 25px;

  text-align: center;

  color: #6b7280;

  font-size: 15px;
}

.signup-text span {
  color: #73aab5;

  font-weight: 600;

  cursor: pointer;

  margin-left: 5px;
}

.signup-text span:hover {
  text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .login-card {
    flex-direction: column;
  }

  .login-left {
    padding: 30px;
  }

  .login-left img {
    max-width: 280px;
  }

  .login-right {
    padding: 40px 30px;
  }
}

@media (max-width: 500px) {
  .login-right {
    padding: 30px 20px;
  }

  .login-title {
    font-size: 30px;
  }

  .login-subtitle {
    font-size: 14px;
  }
}